name: Full Stack CI/CD

on:
  push:
    branches: [ main ]

jobs:

  backend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy Backend
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          cd ${{ secrets.SERVER_PATH }}/backend
          sudo git pull origin main
          npm install
          pm2 restart demo-api || pm2 start server.js --name demo-api


  frontend:
    runs-on: ubuntu-latest
    needs: backend

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Frontend
      run: |
        cd frontend
        npm install
        npm run build

    - name: Upload Frontend
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_KEY }}
        source: "frontend/dist/*"
        target: "/var/www/demo-app/ci-cd-demo/frontend/dist"
        overwrite: true